pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain_huggingface
langchain-groq
langchain-openai
defusedxml
pypdf
pillow
rapidocr-onnxruntime
bs4
arxiv
pymupdf
langchain_google_vertexai
faiss-cpu
langchain_google_genai
langchain-pinecone
wikipedia
youtube_search
langgraph
langchain-milvus
uuid4
rank_bm25
langchain_chroma
duckduckgo-search
yfinance
langchain_tavily
weather_api